.wrap{
  width: 80%;
  margin:auto;
}

footer {
  background-color: #191F2E;
  padding: 1em;;
}
footer .info   {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid white;
}




h3{
  color:white;
  text-transform: uppercase;
}

p{
  color:white;
}
a{
  color:white;
  text-decoration: none;
}

a:visited{
  color:white;
  text-decoration:none;
}

.social_media{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
 span  {
color: white;
align-items: center;
text-align: center;
display: block;
padding-top: 1em;
}
