@media screen and (max-width: 1024px) {
footer {
  padding-bottom: 1em;
  padding-top: 0;
  margin:auto;
}

footer h3{
  color:white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding-top: 1em ;
  padding-bottom: 0.5em ;
}
footer .wrap{
  width: 85%;
  margin:auto;
}
.info img{
  width:21px;
  align-items: flex-start;
  margin-top:6%;
}
footer input[type=submit]{
  border:none;
  width:41px;
  height:30px;
  color: white;
}

footer input[type=text]{
  border-bottom: 0,5px solid rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.5);
  padding-bottom: 2px;
}
footer .social_media{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-right: 5%;
  padding-left: 5%;
}

footer .social_media p{
  font-weight:  300;
  font-size: 62%;
}

footer .social_media img{
  width:1em;
  align-items: flex-start;
}

/*Mentions légales*/
footer  span  {
color: rgba(255,255,255,0.5);
align-items: center;
text-align: center;
display: block;
padding-top: 1em;
padding-bottom: 1em;
font-weight:300;
font-size: 62%;
}

}
@media screen and (max-width: 768px) {
footer {
  padding-bottom: 1em;
  padding-top: 0;
  margin:auto;
}

footer h3{
  color:white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding-top: 1em ;
  padding-bottom: 0.5em ;
}
footer .wrap{
  width: 85%;
  margin:auto;
}
footer input[type=submit]{
  background-color: #005570;
  border-radius: 0 35% 35% 0;
  border:none;
  width:41px;
  height:30px;
  color: white;
}

footer input[type=text]{
  background-color: #191F2E;
  border:none;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.5);
  padding-bottom: 4px;
  }
footer .social_media{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-right: 10%;
  padding-left: 10%;
}

footer .social_media p{
  font-weight:  300;
  font-size: 62%;
}

footer .social_media img{
  width:1em;
  align-items: flex-start;
}

/*Mentions légales*/
footer  span  {
color: rgba(255,255,255,0.5);
align-items: center;
text-align: center;
display: block;
padding-top: 1em;
padding-bottom: 1em;
font-weight:300;
font-size: 62%;
}

}
@media screen and (max-width: 480px) {
footer {
  background-color: #191F2E;
  padding-bottom: 1em;
  padding-top: 0;
  margin:auto;
}


footer h3{
  color: ;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding-top: 1em ;
  padding-bottom: 0.5em ;
}
footer .wrap{
  width: 85%;
  margin:auto;
}
.info img{
  width:25px;
  align-items: flex-start;
  padding-top:12%;
}
footer input[type=submit]{
  background-color: yellow;
  border-radius: 0 35% 35% 0;
  border:none;
  width:41px;
  height:30px;
  color: white;
}

footer input[type=text]{
  border:none;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.5);
  padding-bottom: 4px;
  }
  footer .social_media{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-right: 5%;
  padding-left: 5%;
}

footer .social_media p{
  font-weight:  300;
  font-size: 62%;
}

footer .social_media img{
  width:1em;
  align-items: flex-start;
}

/*Mentions légales*/
footer  span  {
color: rgba(255,255,255,0.5);
align-items: center;
text-align: center;
display: block;
padding-top: 1em;
padding-bottom: 1em;
font-weight:300;
font-size: 62%;
}
footer .info{
display:grid;
 grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
}
footer .info div:nth-of-type(2){
font-size:14px;
position:relative;
top:-5px;
}
