/*style footer général*/
footer {
  background-color: #191F2E;
  padding-bottom: 1em;
  padding-top: 0;
  margin:auto;
}

footer h3{
  color:white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding-top: 1em ;
  padding-bottom: 0.5em ;
}

footer p{
  color:white;
}

footer a{
  color:white;
  text-decoration: none;
}

footer a:visited{
  color:white;
  text-decoration:none;
}

/* le wrap a une taille de 80% */
footer .wrap{
  width: 85%;
  margin:auto;
}

/* la partie contact a un background different du rest du footer*/
footer .contact{
    background-color: #005570;
    padding-top:1em;
    padding-bottom: 1em;
}

footer .contact p{
  text-align: center;
  align-items: center;
  display: block;
  font-weight:  400;
  font-size: 150%;
}

footer .contact  p > a{
  text-decoration: underline;
  font-weight: 400;
  font-size: 120%;
}

/* la partie info est composé de trois colonne alignés */
footer .info   {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:stretch;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-top:1em;
  padding-bottom: 1em;
}

footer .info div{
  display: flex;
  flex-direction: column;
}

.info img{
  width:21px;
  align-items: flex-start;
}

/* Newsletter*/
input[type=submit]{
  background-color: #005570;
  border-radius: 0 35% 35% 0;
  border:none;
  width:41px;
  height:30px;
  color: white;
}

input[type=text]{
  background-color: #191F2E;
  border:none;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.5);
  padding-bottom: 4px;

}

/*réseau sociaux et copyright*/
footer .social_media{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-right: 10%;
  padding-left: 10%;
}

footer .social_media p{
  font-weight:  300;
  font-size: 62%;
}

footer .social_media img{
  width:1em;
  align-items: flex-start;
}

/*Mentions légales*/
footer  span  {
color: rgba(255,255,255,0.5);
align-items: center;
text-align: center;
display: block;
padding-top: 1em;
padding-bottom: 1em;
font-weight:300;
font-size: 62%;
}
