*
{

		font-family: roboto;
}
a{
		text-decoration:none;
		color : white;
}
a:visited{
		text-decoration:none;
		color : white;
}

header
{

    background-image : url('../pictures/header/Apropos/Rectangle.jpg');
	background-repeat:no-repeat;
	padding-top:391px;
    background-size: 100%;
	text-align : center;
}

header a {
  	margin-right: 30px;
}
.a{
position: absolute;
top: 64px;
left: 37%;

}

.ecriture
{
position: absolute;
top: 10px;
left: 31%;
}

.logoa{
margin-left: 370px;

}

.logob{
margin-left: 15px;

}

.logoc{
margin-left: 15px;

}
.logopiranda{

margin-right: 80%;
}
