*
{
	    margin: 0px;
		font-family: roboto;
}

a{
		text-decoration:none;
		color : white;
}
a:visited{
		text-decoration:none;
}
header
{
    background-image : url('../pictures/header/Apropos/Rectangle.jpg');
	background-repeat:no-repeat;
 background-size:100%;
  text-align : center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header div {
	display: flex;
	flex-direction: row;
}

.top{
	justify-content: space-between;
	width:85%;
	align-items: center;

}

/* Menu*/
header div:nth-of-type(2){
display: block;
text-align: center;
align-items: center;
margin-top:35px;
margin-left:3%;

}

header div:nth-of-type(2) a{
margin-left: 38px;
}

/*ecriture*/
header div:nth-of-type(2) img{
margin-left:-10%;
margin-top:11%;
margin-bottom:11%;

}

/* image logo piranda*/
header div:first-of-type img{

    margin-top: 40px;
	margin-left:-25%;


}

/*logo*/
header div:nth-of-type(3) img{
  margin-left: 23px;
}
