
body{
  background-color: #191F2E;
}

.wrap{
  width:85%;
  margin:auto;
}

.logotype{
  display: flex;
  justify-content: space-between;
}

.social_media{
  width: 8%
  display: flex;
  justify-content: space-between;
}
